/* .statList {
  display: flex;
  background-color: var(--color-blueviolet);
}
.item {
}
.label {
  color: var(--color-yellow);
}
.percentage {
  font-weight: bold;

  color: var(--color-black);
} */
