.statList {
  display: flex;
}
.item {
}
.label {
  color: rgb(236, 240, 17);
}
.percentage {
  font-weight: bold;

  color: rgb(12, 12, 12);
}

.docx {
  background-color: rgb(236, 240, 17);
}
.pdf {
  background-color: rgb(236, 240, 17);
}

.psd {
  background-color: rgb(236, 240, 17);
}
.pdf {
  background-color: rgb(236, 240, 17);
}
